<!-- app/application/template.hbs -->

<header>
  <div class="page-container">

    {{#link-to "home"}}
      <div class="logo"></div>
    {{/link-to}}

    <nav>
      {{#link-to "home"}}Home{{/link-to}}
      {{#link-to "user"}}
        <img class="avatar" src="/images/avatar.jpg" />
        Elvis
      {{/link-to}}
      <button class="chirp">Chirp</button>
    </nav>

  </div>
</header>

{{outlet}}
